/* body{
    background-color: black;
    text-align: center;
}

h1{
    color: #000;
    display: inline-block;          /* displa inline jo h...margin , padding width sb khtm kr deta h ...es liye display-block use kiya*/
    width: 100px;
    background-color: #fff;
} */